{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div class="card text-center w-100">
  <div class="card-body">
    <h1>Daily Check-in Time for {{user.first_name}}</h1>
    <p>Lots of stuff coming below</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="card text-center w-25 mt-5 mx-auto">
  <div class="card-body">
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary btn-lg" type="button">
        Request Access
      </button>
      <button class="btn btn-success btn-lg" type="button">Login</button>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
